.card {
   border: 1px solid #f3f3f3;
   padding: 30px;
   width: 220px;
   border-radius: 20px;
   margin-right: 30px;
   transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
   margin-bottom: 20px;
   
   .favorite {
      position: absolute;
      cursor: pointer;
   }

   h5 {
      font-weight: 400;
      font-size: 14px;
   }
   
   .cardButtom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .cardButtomText {
         display: flex;
         flex-direction: column;

         span {
            font-size: 13px;
            opacity: 0.5;
            text-transform: uppercase;
         }
      }
   }
   &:hover{
      box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
      transform: translateY(-5px);
   }
}

.button {
   background: #FFFFFF;
   border: 1px solid #F2F2F2;
   border-radius: 8px;
   height: 32px;
   width: 32px;
   cursor: pointer;
}