body {
   margin: 0;
   padding: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color:  #E7f6ff;
}

* {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
   background: #FFFFFF;
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
   border-radius: 10px;
   max-width: 1080px;
   margin: 50px auto;
   padding: 40px;
  
   * {
      box-sizing: border-box;
      outline: none;
    }
  
    a {
      color: inherit;
      text-decoration: none;
    }
  
    ul {
      margin: 0;
      padding: 0;
    }
  
    li {
      list-style-type: none;
    }
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 40px;

   .headerLeft{
      display: flex;
      align-items: center;

      .headerInfo{
         p {
            opacity: 0.7;
         }
      }

      img{
         margin-right: 15px;
      }
   }

   h3, p {
      margin: 0;
   }

   .headerRight {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
         margin: 0.7em;
         cursor: pointer;
      }

      span {
         cursor: pointer;
         margin: 0.7em;
         margin-bottom: 5px;
      }
   }
}

.content{
   padding: 40px;
   .searchBlockWrapper{
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      justify-content: space-between;
      .searchBlock {
         border: 1px solid #f3f3f3;
         display: flex;
         border-radius: 6px;
         padding: 0 15px;
         input {
            border: 0;
            padding: 13px;
            font-size: 16px;
         }
         .clearInput{
            height: 30px;
            width: 30px;
            position: absolute;
            cursor: pointer;
         }
      }
   }
  
}

.sneakers {
   display: flex;
   flex-wrap: wrap;
}


.overlay{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 1;
   overflow: auto;
   display: flex;
   flex-direction: column;
   flex: 1;
}

.drawer {
   position: absolute;
   width: 420px;
   height: 100%;
   right: 0;
   background: #FFFFFF;
   box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
   padding: 20px;
   display: flex;
   flex-direction: column;

   .cartEmpty {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      p {
         width: 280px;
         line-height: 24px;
      }

      img {
         margin-bottom: 30px;
         width: 120px;
         height: 120px;

      }
      
   }
   
   .rightMenuHead {
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      img{
         cursor: pointer;
      }
   }
  
   .cartItem{
      display: flex;
      align-items: center;
      border: 1px solid #f3f3f3;
      border-radius: 8px;
      overflow: hidden;
      padding: 0 10px;
      margin-bottom: 10px;

      .pic {
         width: 70px;
         height: 70px;
         margin-right: 15px;
      }
      .picInfo{
         margin-bottom: 5px;
         p{
            margin: 2px;
         }
      }
      .removeBtn{
         opacity: 0.5;
         cursor: pointer;
         transition: opacity 0.15s ease-in-out;

         &:hover{
            opacity: 1;
         }
      }
   }

   h2{
      margin: 0;
   }
}

.cartTotalBlock{
   .total {
      display: flex;
      align-items: flex-end;
      margin-bottom: 10px;
      div{
         flex: 1;
         height: 1px;
         border-bottom: 1px dashed #dfdfdf;
         position: relative;
         top: -4px;
         margin: 0 7px;
      }
   }
}

.greenButton {
   width: 245px;
   margin-top: 20px;
   height: 10%;
   background-color: #9dd558;
   border-radius: 8px;
   border: 0;
   color: rgb(255, 255, 255);
   font-size: 16px;
   font-weight: 500;
   cursor: pointer;

   :hover {
      transform: rotate(180deg) translateX(3px);
   }
}